html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-size: 100%;
  background-position: bottom;
  background-color: #f0f0f0;
  min-height: 100%;
  font: 10px !important;
}

form {
  padding: 20px;
  background-color: #fff;
}
#login form {
  background-color: #f0f0f0 !important;
}
.md-form.md-outline label.active.labelBg {
  background-color: #ededed;
}

.md-form.md-outline + label.labelBg {
  background-color: #ededed;
}

form button,
form h5 {
  margin: 20px 0;
}
main {
  margin: 3.4rem 3%;
  padding: 2%;
}

@media screen and (max-width: 800px) /* Mobile */ {
  main {
    margin: 8.4rem 3%;
    padding: 4%;
  }
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: hsl(0, 5%, 30%);
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #4f4848 !important;
}
.btn {
  text-decoration: none;
  color: #fff;
  background-color: #412a49;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
.ham-menu {
  z-index: 10000;
  color: white;
  top: 12px;
  left: 4px;
  position: fixed;
}
.nav-justified {
  background-color: #6d5489 !important;
}
/* Signup, SignIn */
#login .view {
  /* background-image: url('http://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img%20(11).jpg');*/
  background-size: cover;
  height: 100vh;
}

#login .card {
  background-color: #f0f0f0;
}
#login h6 {
  line-height: 1.7;
}
footer.page-footer {
  background-color: #1a1f71;
  position: static;
  width: 100%;
}
.nav-title {
  color: #fff;
}

#login .form-check {
  margin-bottom: 0 !important;
}
#login .md-form label {
  color: #276b82;
}
#login .md-form input[type="text"]:focus:not([readonly]) + label,
#login .md-form input[type="password"]:focus:not([readonly]) + label,
#login .md-form input[type="email"]:focus:not([readonly]) + label {
  color: #276b82;
}
#login .md-form input[type="text"]:focus:not([readonly]),
#login .md-form input[type="password"]:focus:not([readonly]),
#login .md-form input[type="email"]:focus:not([readonly]) {
  border-bottom: 1px solid #4f4848;
  box-shadow: 0 1px 0 0 #4f4848;
}
.card-header {
  background: #276b82 !important;
}

.side-nav-slidr {
  background-color: #1a1e70 !important;
  color: grey !important;
}

@media (max-width: 768px) {
  .app .main {
    flex-direction: column;
  }

  .selects-in-line {
    margin-left: 0% !important;
  }

  .app .main > div {
    margin: 0 0 20px 0;
  }
}

.navbar {
  background-color: #1a1f71;
  color: white;
  text-align: -webkit-center !important;
  font-size: 15px;
}

/* .navbar-collapse {
  margin-left: 8% !important;
  margin-right: 8% !important;
} */

.nav-link.active {
  color: #9fbfca !important;
}

.btn-default {
  background-color: #286b82 !important;
  color: #fff;
}

.default-color,
.dropdown-item.active {
  background-color: #276b82 !important;
}

.dropdown .dropdown-menu.dropdown-default .dropdown-item:hover,
.dropdown .dropdown-menu.dropdown-default .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-default .dropdown-item.active,
.dropup .dropdown-menu.dropdown-default .dropdown-item:hover,
.dropup .dropdown-menu.dropdown-default .dropdown-item:active,
.dropup .dropdown-menu.dropdown-default .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-default .dropdown-item:hover,
.dropleft .dropdown-menu.dropdown-default .dropdown-item:active,
.dropleft .dropdown-menu.dropdown-default .dropdown-item.active,
.dropright .dropdown-menu.dropdown-default .dropdown-item:hover,
.dropright .dropdown-menu.dropdown-default .dropdown-item:active,
.dropright .dropdown-menu.dropdown-default .dropdown-item.active {
  background-color: #1a1f71 !important;
  color: #fff;
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:active,
.dropup .dropdown-menu .dropdown-item:hover,
.dropup .dropdown-menu .dropdown-item:active,
.dropleft .dropdown-menu .dropdown-item:hover,
.dropleft .dropdown-menu .dropdown-item:active,
.dropright .dropdown-menu .dropdown-item:hover,
.dropright .dropdown-menu .dropdown-item:active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #276b82;
  border-radius: 0.125rem;
  transition: all 0.1s linear;
}

.navbar .dropdown-menu button.active > a {
  padding: 10px;
  font-size: 0.9375rem;
  font-weight: 300;
  color: #fff;
}

.sm-pills .show > .nav-link {
  background-color: #27182d;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
  color: grey !important;
  transition: all 0.2s ease-in-out;
}
.legendpill {
  margin: 1.5% !important;
  font-size: 20px;
}
.semiotics-wrapper {
  height: 500px;
  min-width: 500px;
  background-color: #f0f0f0;
}
.semiotics-container {
  /* margin: 10%; */
}
.caption-box {
  height: 200px;
  overflow-x: none;
  color: #27182d;
  font-size: 14px;
}
.image-box {
  height: 550px;
  overflow-x: scroll;
  width: 100%;
}
.iframe-youtube {
  height: 350px;
  width: 100%;
}
.treemap-wrapper {
  height: 650px;
}
.raphael-group-18-creditgroup {
  display: none;
}
.raphael-group-362-legend-body {
  display: none;
}
.raphael-group-355-fc-gradient-legend {
  display: none;
}

.fa-chevron-right,
.fa-chevron-left,
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #276b82 !important;
  height: 34px !important;
  width: 34px !important;
  margin-top: 100px;
}

.carousel-indicators > li {
  background-color: #276b82 !important;
  z-index: 23;
}

.tweet-box {
  height: 600px;
  overflow-y: scroll;
}
.wordCloud:hover > text {
  background-color: blue !important;
}
/* .sub-navigation {
  font-size: 15px;
  border-radius: 10px;
} */

@media only screen and (max-width: 800px) {
  /* .sub-navigation {
    height: auto;
    width: auto;
    font-size: 15px;
    border-radius: 10px;
  } */
  /* .filter-form-trend {
    height: 400px;
  }
  .filter-form {
    height: 350px;
  } */
}

.ham-menu {
  margin-left: 20px;
}
.mdb-select > li {
  font-size: 10px;
}
.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 10px !important;
  color: #212529 !important;
  display: block;
  padding: 0.5rem;
}

.select-wrapper input {
  font-size: 14px !important;
}

.video_card {
  height: 270px !important;
  overflow-y: scroll;
  width: auto;
  margin-top: 12%;
  object-fit: cover;
  display: flexbox;
}

.video_card_1 {
  height: 200px;
  margin-top: 5%;
}

.video_card_l {
  height: 600px;
  margin-top: 5%;
}

.global-filter {
  background-color: #f0f0f0;
  border-radius: 20px;
}
.display-global-filters {
  overflow-x: scroll;
  font-size: 15px;
}
.dropdown-secondary .dropdown-content li.active,
.dropdown-secondary .dropdown-content li a,
.dropdown-secondary .dropdown-content li span:hover {
  background-color: #eceff1 blue-grey lighten-5 !important;
}

a {
  color: inherit;
}

.list-group-flush {
  color: #495057;
}

.active {
  background-color: #e9ecef !;
}

.navbar-brand {
  margin-left: 8%;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
  background: #fff;
}

#content {
  margin-left: 270px;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.full {
  height: 70vh;
}

.bad-gateway-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card h3,
.card.card-cascade h4 {
  margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
h7,
h8 {
  color: black !important;
  font-size: 14px !important;
}
.hand_point {
  color: black !important;
  font-size: 24px !important;
  margin-top: 50px;
}
.barchart_contatiner {
  height: 400px;
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
}
.purple {
  background-color: #266278 !important;
}

.fixed_height_filter {
  height: 180px;
  overflow-y: scroll;
}

.fixed_height_filter-1 {
  height: 239px;
  overflow-y: scroll;
}

.fixed_height_box {
  height: 400px;
  overflow-y: scroll;
}

.filter-display-box {
  height: 233px;
  overflow-y: scroll;
}
.hicharts_contatiner {
  height: 1500px;
}

.tiktok-caption {
  font-size: 40px !important;
}

.map-google {
  padding: 0 !important;
}

.type_of_trend > ul.select-dropdown {
  height: auto !important;
}

.refresh_btn {
  padding: 7% !important;
}
.bg_white {
  background-color: white;
  width: 100%;
}
.carousel-indicators {
  margin-bottom: -12px !important;
}

a[rel="noopener"] {
  display: none;
}

.anno-text {
  font-size: 13px !important;
}
.btn-primary {
  background-color: #286b82 !important;
}

.bq-success {
  border-left: 3px solid #286b82 !important;
}

.dropdown-secondary .dropdown-content li.active,
.dropdown-secondary .dropdown-content li a,
.dropdown-secondary .dropdown-content li span:hover {
  background-color: #286b82 !important;
}

.btn-indigo {
  background-color: #1a1e70 !important;
  color: #fff;
}

.nav {
  /* display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 0; */
  width: 95%;
  margin: auto;
  justify-content: center;
  display: flex;
  list-style: none;
}
.highlight {
  color: #9fbfca;
}

.nav li {
  line-height: 1.5em;
}

.dropdown-item.active {
  background-color: #276b82 !important;
  color: white !important;
}

.react-scrolltop-button {
  z-index: 10000 !important;
}
.img-and-followers {
  display: inline-flex;
}
.text-center-button {
  display: flex;
  justify-content: center;
}

.justify-content-center {
  text-align: center;
}

.md-form {
  text-align: left;
}

.map-container {
  min-height: 500px;
}
